[submodule "tamil-sandhi-checker"]
	path = tamil-sandhi-checker
	url = https://github.com/Ezhil-Language-Foundation/tamil-sandhi-checker
[submodule "tamilinayavaani"]
	path = tamilinayavaani
	url = https://github.com/Ezhil-Language-Foundation/Tamilinaiya-Spellchecker
