sudo: false
language: python
python:
  - "3.5-dev"
  - "3.3"  
  - "2.7"
#  - "2.6"  #lack of OrderedDict. so install ordereddict only for python 2.6.
  - "pypy" #

before_install:
  - echo `ruby -v` is the ruby version
install:  
  - if [[ $TRAVIS_PYTHON_VERSION == 2.6 ]]; then pip install --use-mirrors ordereddict; echo "Cool" | wc -l; fi
  - python setup.py install && pip install argparse
  - pip install .
  - pip install nose-cov
script:
  - cd ./C-tamil && make all && make test && cd ..
  - ./unittest #naked tests
#  - cd ./tests && nosetests  -sv --with-coverage --cover-package=open-tamil *.py && cd .. #with coverage
after_success:
  - pip install coveralls
  - coveralls
