{% extends "main.html" %}
{% load i18n %}
{% block title %}{% trans "Tamil Number" %}{% endblock %}
{% block content %}
<div class="col-sm-9">
<div class="page-header">
  <h1>{% trans "Anagram" %}</h1>
  <h2> எ.கா. நகரம் <-> நரகம்</h2>
</div>
<center>

<textarea name="word" id="txt" rows="10" cols="70"  placeholder="Please Enter the Tamil Word"></textarea>
<button id="btn2" class="btn btn-success">{% trans "Check" %}</button>
<div id="progress" class="alert alert-info silpa-hide"></div>
<p id="disp" class='important'>
</p>
</center>
</div>
<script type="text/javascript">
	$(document).ready(function () {
	$('#btn2').click(function(){
    var dat = $('#txt').val()
var id_result = $('#disp'),
                id_progress = $('#progress')
    $.ajax({
    	url: '/anagram/'+dat,
beforeSend:function(){
                    id_result.empty().hide();
                    id_progress.html("{% trans 'cheking anagrams. Please Wait...' %}").show();
                },
    	success: function(data){
 id_progress.hide();
        var str=''
    		for(var i=0;i<data.length;i++){
          var t='<span>'+data[i]+'&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp'+'<span>'
    		str+=t
    		}
        $('#disp').html(str)
id_result.show();
    	}
    })
  	})
	})

</script>
{% endblock %}
