{% extends "main.html" %}
{% block title %}Open Tamil Web{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Welcome to OPEN TAMIL WEB!</h1>
</div>
<div>
  <p class="lead">Open Tamil Web is a web platform to host Free Software language processing applications. It consists of a web framework and a set of applications for processing Tamil language. It is a platform for porting existing and upcoming language processing applications to the web.</p>
  <p class="lead">open tamil can also be used as a python library or as a webservice from other applications. Open tamil is currently under development. If you are interested in contributing contact  <a href="https://goinggnu.wordpress.com/
">the developers</a></p>
  <p>
    <a class="btn btn-primary btn-lg" href="https://goinggnu.wordpress.com/2017/04/22/project-ideas-part-2-looking-for-contributors/">Read the project announcement</a>

  </p>
</div>
</div>
{% endblock %}
