{% extends "main.html" %}
{% load i18n %}
{% load static %}
{% block title %}Open Tamil Web{% endblock %}
{% block content %}

<div class="page-header">
  <h1>{% trans "Welcome to OPEN TAMIL WEB!" %}</h1>
</div>
<div>
  <p class="lead">{% trans "open tamil can also be used as a python library or as a webservice from other applications. Open tamil is currently under development. If you are interested in contributing contact" %}  <a href="https://goinggnu.wordpress.com/
">{% trans "the developers" %}</a></p>
</div>
<div align="center">
  <img src="{% static 'images/open-tamil-logo-small.png' %}" alt="Open-Tamil project logo" />
</div>
<div>
<p class="lead">
Open Tamil on the web platform hosts the free-software language processing applications present within library open-tamil, for processing Tamil language text, numbers, scripts. Open Tamil can also be used as a python library or as a webservice from other applications. Open tamil is currently under development. If you are interested in contributing contact us via github <a href="https://github.com/Ezhil-Language-Foundation/open-tamil/">here</a>.
</p>
<p class="lead">
This is collective work of our team underlying the website, itself written in Django+Python, highlighting various aspects of open-tamil like transliteration, numeral generation, encoding converters, spell checker among other things. New features added via git-repo&nbsp;<a href="https://github.com/Ezhil-Language-Foundation/open-tamil">https://github.com/Ezhil-Language-Foundation/open-tamil</a> gets updated.</p>
<p class="lead">Updated Jan 29th, 2021. Website and Open-Tamil licensed under GNU Affero GPL, and MIT terms respectively.</p>
</div>
{% endblock %}
