{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}- Indic Language Computing Platform </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Indian Language Computing Platform">
    <meta name="author" content="Open Tamil Developers">

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/jquery.ime.css' %}"  />
    <link rel="stylesheet" href="{% static 'css/custom.css' %}"  />

<style type="text/css">
        .important { color: #336699;font-size:25px }
        .highlight {
            color: red;
        }
    </style>
  </head>
<body>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.ime.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
    <div class="navbar navbar-inverse navbar-fixed-top silpa-navbar" role="navigation">
      <div class="container">
        <ul class="nav navbar-nav">
          <li><a class="navbar-brand" href="/">{% trans "Open-Tamil Web" %}</a></li>
        </ul>
        <ul class="nav navbar-nav pull-right hidden-xs">
          {% if LANGUAGE_CODE|stringformat:"s" == "en"  %}
    <li><a onclick="document.setLangTamil.submit();return false;">{% trans "தமிழ்" %}</a></li>
         {% else %}
   <li><a onclick="document.setLangEnglish.submit();return false;">{% trans "Eng" %}</a></li>
     {% endif %}
          <li><a href="https://github.com/Ezhil-Language-Foundation/open-tamil">{% trans "Documentation" %}</a></li>
        </ul>
      </div> <!-- container -->
    </div> <!-- navbar -->

    <div class="container">
      <div class="row">
        <div class="col-sm-3">
	  <div class="sidebar-nav">
	    <ul class="nav nav-tabs nav-stacked" role="navigation" >
              <li class="navbar-brand"><a href="/apidoc/">{% trans "Documentation" %}</a></li>
	    </ul>
          </div>
          <div class="sidebar-nav">
	    <div align="center">
	    <img src="{% static 'images/open-tamil-logo-small.png' %}" alt="Open-Tamil project logo" height="128" width="128" />
	  </div>
            <!-- side bar goes here -->
            <ul class="nav nav-tabs nav-stacked" role="navigation">
              <li class="navbar-brand">{% trans 'Applications' %}</li>
              <li><a href="/tamilinayavaani/">TamilinayaVaani Spell Checker</a></li>
              <li><a href="/tts_demo">{% trans "Text to Speech Synthesizer" %}</a></li>
    	      <li><a href="/get-classify">{% trans "Classifier" %}</a></li>
              <li><a href="/xword">{% trans "Crossword" %}</a></li>
              <li><a href="/number">{% trans "Tamil Number" %}</a></li>
       	      <li><a href="/stemmer">{% trans "Tamil Stemmer" %}</a></li>
               <li><a href="/sandhi-check">{% trans "Sandhi Checker" %}</a></li>
              <li><a href="/vaypaadu">{% trans "Tamil Multiplication Tables" %}</a></li>
              <li><a href="/keechu">{% trans "Word Count" %}</a></li>
              
              <li><a href="/translite">{% trans "Transliteration" %}</a></li>
              
              <li><a href="/spell">{% trans "Tamil Spell Checker" %}</a></li>
              
              <li><a href="/tsci">{% trans "Unicode Converter" %}</a></li>
              <li><a href="/ngram">{% trans "Tamil N-gram" %}</a></li>
	      <li><a href="/minnal">{% trans "Tamil game Minnal" %}</a></li>
	      {# <li><a href="/textrandomizer_auth/">{% trans "Tamil Randomizer" %}</a></li> #}
	      <li><a href="/unigram">{% trans "Tamil Unigram" %}</a></li>
              <li><a href="/anagram">{% trans "Tamil Anagram" %}</a></li>
              <li><a href="/revers">{% trans "Reverse Words" %}</a></li>
	      <li><a href="/summarizer">{% trans "Text summarizer" %}</a></li>
	      <li><a href="/morse">{% trans "Tamil Morse code" %}</a></li>
                <li><a href="/version">{% trans "Open-Tamil version" %}</a></li>
            </ul>
          </div>
           <form name="setLangTamil" action="/i18n/setlang/" method="POST">
   {% csrf_token %}
   <input name="next" type="hidden" value="{{request.path}}"/>
   <input type="hidden" name="language" value="ta"/>
</form>
<form name="setLangEnglish" action="/i18n/setlang/" method="POST" id="set-eng">
   {% csrf_token %}
   <input name="next" type="hidden" value="" id="eng-lang"/>
   <input type="hidden" name="language" value="en"/>
</form>
        </div>
<div id="content" class="col-sm-9">{% block content %}{% endblock %}</div></div></div>
<footer role="contentinfo" class="footer">
  <div class="container">
    <img align="left" src="{% static 'images/open-tamil-logo-small.png' %}" alt="Open-Tamil project logo" height="128" width="128" />
        <p>All rights reserved. &copy2014-2021, Open Tamil Web Team. Code licensed under <a href="http://www.fsf.org/licensing/licenses/agpl-3.0.html" target="_blank">GNU Affero General Public License.</a></p>
        <ul class="footer-links">
	  <li><a href="https://github.com/Ezhil-Language-Foundation/open-tamil">Source Code of Web App with Library</a></li>
          <li><a href="https://github.com/abuvanth/open-tamil-web-interface">Source Code of Web App Only</a></li>
          <li class="muted">·</li>
          <li><a href="http://www.glug-madurai.org/pages/mailing-list.html">Mailing List</a></li>
          <li class="muted">·</li>
          <li><a href="https://pypi.python.org/pypi/Open-Tamil/0.98">Credits</a></li>
          <li class="muted">·</li>
          <li><a href="#">License</a></li>
          <li class="muted">·</li>
          <li><a href="mailto:{{settings.CONTACT_EMAIL}}">Contact</a></li>
	  <li><img src="/static/images/DO_Powered_by_Badge_blue.png" alt="powered by Digital Ocean" height="32" /></li>
	</ul>
  </div>

</footer>

</body>
</html>
