{% extends "main.html" %}
{% load i18n %}
{% load static %}
{% block title %}Tamil Number{% endblock %}
{% block content %}
<section id="home">
<div class="page-header">
    <h1>{% trans "Tamil Number" %}</h1>
</div>
<center>
<form class="form-group">
    <div class="form-group">
        <label for="word">Number</label>
    </div>
<p class="important">{% trans "Numeral - convert a given number (integer or float) into a numeral in Indian or American based system." %}</p>
        <input type="text" name="word" id="txt" class="form-control" placeholder="{% trans 'Please Enter the Number' %}" style="border: 1px solid blue;
            border-radius: 10px;"/>
</form>
<select name="tp" id="st" class="form-control" style="border: 1px solid blue;
            border-radius: 10px;">
<option value="IN">{% trans "Indian Standard" %}
</option>
<option value="US">{% trans "American Standard" %}
</option>
</select>
<p id="disp" class='important' style="padding-top:60px">
</p>
</center>
<div class="well">
    <h3>Tamil Number JSON API</h3>
    <p>
        This service provides tamil numerals for a given integer or float
        <ul>
            <li>Input data: numeric
                <ul>
                    <li>arg1 :type=IN or US</li>
                    <li>Return : tamil numeral</li>
                </ul>
            </li>
        </ul>

        Sample usage is given below.
      
  <pre>
        http://tamilpesu.us/number/34?type=IN
        Result: '{"result": "முப்பத்தி நான்கு"}'
      </pre>
    </p>
</div>
</section>
<script type="text/javascript">
	$(document).ready(function () {
	$('#txt').keyup(function(){
         getdata()    

  	})
$('#st').change(function(){
         getdata()    

  	})
function getdata(){
var dat = $('#txt').val()
    var st = $('#st').val()
    $.ajax({
    	url: '/number/'+dat+'?type='+st,
    	success: function(data){
        $('#disp').show()
        $('#disp').text(data.result)
    	}
    })
    if ($('#txt').val()==''){
$('#disp').hide()
}
}
	})

</script>
{% endblock %}
