{% extends "main.html" %}
{% load i18n %}
{% block title %}Tamil Summarizer{% endblock %}

{% block content %}
<section id="summarizer">
<div class="col-sm-9">
<div class="page-header">
  <h1>தமிழ் பேசு.us - ஓபன் தமிழ் உரை சுருக்கி</h1>
</div>
{% if text_summary %}
<div>
  {% if text_comments %}
  <div id="disp4" class="important">
    {{text_comments}}
  </div>
  {% endif %}
  {% if text_summary %}
  <h2>தமிழ் பேசு.us - ஓபன் தமிழ் உரை சுருக்கம்</h2>
  <div id="disp4" >
    {{text_summary}}
  </div>
  {% endif %}
</div>
{% endif %}
<hr>
<div>
  <form method="POST">
	{% csrf_token %}
	<center>
          <textarea rows="12" cols="80" name="text_input" id="txt4" placeholder="உரை உள்ளீடுகளை இடுக!">
	    {% if text_input %}
	    {{text_input}}
	    {% endif %}
	  </textarea>
	  <br />
	  <input type="button" id="btn-clear" class="btn btn-success" onClick="$('#txt4').val('');" value="அழி"></input>
	  <input type="submit" id="btn-submit" class="btn btn-success" action="submit" value="சுருக்கம்"></input>
	</center>
  </form>
</div>
<div class="well">
    <h3>Tamil Summarizer: JSON API</h3>
    <p>
        This service provides tamil text summary
        <ul>
            <li>Input data: text input to be summarized
                <ul>
                    <li>arg1 : UTF-8 text</li>
                    <li>Return : summarized UTF-8 text</li>
                </ul>
            </li>
        </ul>

        Sample usage is given below.
      
  <pre>
    http://tamilpesu.us/summarizer
    Method: POST
    Variables: text_input
    Result: '{"text_summary": "..."}
  </pre>
    </p>
</div>
</section>
{% endblock %}
