{% extends "main.html" %}
{% load i18n %}
{% block title %}Unicode Convertor{% endblock %}

{% block content %}
<section id="t2u">
<div class="col-sm-9">
<div class="page-header">
    <h1>{% trans "Unicode Convertor" %}</h1>
</div>
<textarea id='txt1' rows="5" cols="50" class="important"></textarea> <br>
<div class="row">
  <div class="col-xs-4">
<select name="tp" id="st" class="form-control">
<option value="t2u">Tscii to Unicode
</option>
<option value="u2t">Unicode to Tscii
</option>
<option value="an2u">Anjal to Unicode</option>
<option value="bam2u">Bamini to Unicode</option>
<option value="boom2u">Boomi to Unicode</option>
<option value="karan2u">Dinakaran to Unicode</option>
<option value="thanthy2u">Dinathanthy to Unicode</option>
<option value="kavi2u">Kavipriya to Unicode</option>
<option value="mura2u">Murasoli to Unicode</option>
<option value="mylai2u">Mylai to Unicode</option>
<option value="nakk2u">Nakkeeran to Unicode</option>
<option value="roman2u">Roman to Unicode</option>
<option value="tab2u">Tab to Unicode</option>
<option value="tam2u">Tam to Unicode</option>
<option value="indoweb2u">Indoweb to Unicode</option>
<option value="koeln2u">Koeln to Unicode</option>
<option value="libi2u">Libi to Unicode</option>
<option value="oldvikatan2u">Oldvikatan to Unicode</option>
<option value="webulagam2u">Webulagam to Unicode</option>
<option value="auto2u">Auto to Unicode</option>
<option value="dinamani2u">Dinamani to Unicode</option>
<option value="pallavar2u">Pallavar to Unicode</option>
<option value="diacritic2u">Diacritic to Unicode</option>
<option value="shreelipi2u">Shreelipi to Unicode</option>
<option value="softview2u">Softview to Unicode</option>
<option value="tace2u">Tace to Unicode</option>
<option value="vanavil2u">Vanavil to Unicode</option>
<option value="indica2u">Indica to Unicode</option>
<option value="anu2u">Anu to Unicode</option>
<option value="shreelipiavid2u">shreelipiavid to Unicode</option>
<option value="ISO2unicode">ISO to Unicode</option>
<option value="unicode2anjal">Unicode to anjal</option>
<option value="unicode2bamini">Unicode to bamini</option>
<option value="unicode2boomi">Unicode to boomi</option>
<option value="unicode2dinakaran">Unicode to dinakaran</option>
<option value="unicode2dinathanthy">Unicode to dinathanthy</option>
<option value="unicode2kavipriya">Unicode to kavipriya</option>
<option value="unicode2murasoli">Unicode to murasoli</option>
<option value="unicode2mylai">Unicode to mylai</option>
<option value="unicode2nakkeeran">Unicode to nakkeeran</option>
<option value="unicode2roman">Unicode to roman</option>
<option value="unicode2tab">Unicode to tab</option>
<option value="unicode2tam">Unicode to tam</option>
<option value="unicode2indoweb">Unicode to indoweb</option>
<option value="unicode2koeln">Unicode to koeln</option>
<option value="unicode2libi">Unicode to libi</option>
<option value="unicode2oldvikatan">Unicode to oldvikatan</option>
<option value="unicode2webulagam">Unicode to webulagam</option>
<option value="unicode2dinamani">Unicode to dinamani</option>
<option value="unicode2pallavar">Unicode to pallavar</option>
<option value="unicode2diacritic">Unicode to diacritic</option>
<option value="unicode2shreelipi">Unicode to shreelipi</option>
<option value="unicode2softview">Unicode to softview</option>
<option value="unicode2tace">Unicode to tace</option>
<option value="unicode2vanavil">Unicode to vanavil</option>
<option value="unicode2indica">Unicode to indica</option>
<option value="unicode2anu">Unicode to anu</option>
<option value="unicode2shreelipiavid">Unicode to shreelipiavid</option>
<option value="unicode2ISO">Unicode to ISO</option>
</select>
</div>
<center>
<input type="button" class="btn btn-success" value="Convert" id="btn1">
<p id="disp1" class="important" style="padding-top:50px;font-size: 20px">
	
</p>
<div id="errormessage" class="alert alert-danger silpa-hide"></div>

</center>
</div>
</div>

</section>
<script type="text/javascript">
	$(document).ready(function () {
	$('#btn1').click(function(){
    var dat = $('#txt1').val()
    var st = $('#st').val(),
            id_result = $('#disp'),
            id_error = $('#errormessage'),
            id_progress = $('#progress')
    $.ajax({
    	url: '/tsci/'+dat+"?cod="+st,
        beforeSend:function(){
                id_result.hide();
                id_error.hide();
                id_progress.html("Converting. Please Wait...").show();
            },
    	success: function(data){
            console.log(data)
        id_result.show();
        $('#disp1').text(data.result)
    	},
        error: function(msg) {
                id_progress.hide();
                id_error.html("Something went wrong. Please try again!").show();
            }
    })
  	})
	})

</script>
{% endblock %}
